img {
    height: 3rem;
}

.header{ /*. INDICA QUE É UMA CLASSE */
    justify-content: center; /* JUSTIFICA NO CENTRO */
    height: 10%; /*OCUPA 10% DA TELA*/
}

span {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 1.2rem;
    font-size: 1.5rem;
}